.popup {
    margin-left: 2px;
    bottom: 10vw;
    z-index: 4;
}



.popup a {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: black;
    overflow: hidden;
    text-decoration: none;
}

.popup > a > h3 {
    text-align: center;
    text-decoration: underline;
}

.news, .advertising {
    border: 2px solid black;
}

.news {
    margin-bottom: 1vw;
    background-color: silver;
}

.news > p {
    text-align: center;
}

.popup > a > img {
    max-width: 13vw;
}


.advertising {
    margin-bottom: 1vw;
}
